body {
    margin: 0;
    padding: 0;
}

form {
    position: relative;
    width: 500px;
    margin: 40px auto;
}

form input, form button {
    border: none;
    outline: none;
}

form input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
    border-radius: 15px;
    border-bottom: 4px solid #be290e;
}

form button {
    position: absolute;
    top: 6px;
    right: 0px;
    background: #be290e;
    cursor: pointer;
    border-radius: 10px;
}

form button:before {
    content: "\f16a";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 30px;
    font-weight: bold;
}

form input:focus {
    background: #fdf9f0;
    border-radius: 15px;
}

form button:hover {
    background: #ee3312;
}

.wrap {
    width: 85%;
    display: flex;
    margin: 20px auto;
}

.resultList {
    width: 10000px;
    background-color: #fdf9f0;
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    overflow-x: scroll;
}

.resultElem {
    min-width: 200px;
    max-width: 300px;
    height: 350px;
    background-color: #F8F8FF;
    margin: 5px;
    text-align: center;
}

.thumbnail {
    margin: 10px auto;
    width: 100%;
}
