body {
    margin: 0;
    padding: 0;
}

form {
    position: relative;
    width: 500px;
    margin: 40px auto;
}

form input, form button {
    border: none;
    outline: none;
}

form input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
    border-radius: 15px;
    border-bottom: 4px solid #be290e;
}

form button {
    position: absolute;
    top: 6px;
    right: 0px;
    background: #be290e;
    cursor: pointer;
    border-radius: 10px;
}

form button:before {
    content: "\f16a";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 30px;
    font-weight: bold;
}

form input:focus {
    background: #fdf9f0;
    border-radius: 15px;
}

form button:hover {
    background: #ee3312;
}

.wrap {
    display: flex;
    margin: 20px auto;
}

.resultList {
    /*background-color: #fdf9f0;*/
    background-color: black;
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    margin: auto;
    z-index: 1;
}

.resultElem {
    min-width: 250px;
    max-width: 250px;
    height: 540px;
    background-color: #F8F8FF;
    padding: 5px;
    text-align: center;
    z-index: 1;
}

.thumbnail {
    margin: 10px 0 auto;
    width: 100%;
    height: 141px;
    border-radius: 15px;
}

.linkBlock:hover {
    background-color: #faf0da;
}

.linkBlock:hover .thumbnail {
    opacity: 0.7;
}

.leftButton:before {
    content: "\f053" !important;
}

.rightButton:before, .leftButton:before {
    content: "\f054";
    font-family: FontAwesome;
    color: #be290e;
    font-size: 30px;
    font-weight: bold;
}

.leftButton, .rightButton {
    outline: none;
    background-color: #F9F0DA;
    border-radius: 15px;
    border-width: 0;
    z-index: 3;
}

.leftButton:hover, .rightButton:hover {
    text-shadow: 1px 1px 2px black, 0 0 75px blue, 0 0 5px darkblue;
    background-color: #fcf9f0;
}

.fa-thumbs-up {
    color: green;
}

.fa-thumbs-down {
    color: red;
}

.pagination {
    margin: 0 auto;
    display: inline-block;
}

.pagination li {
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 50px;
    background-color: #8B3A3A;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -25px;
}
