body{
  margin: 0 ;
  background-color: #EEEED1;
}
@font-face {
  font-family: Dancing;
  src: url(fonts/DancingScript-Regular.otf);
}
header {
  background-color: #4F4F4F;
  height: 100%;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  margin: none;
}

header h1, header nav, .search{
  display: inline-block;
  vertical-align: middle;
}
header h1{
  color: #EEE9E9;
  margin-right: 17%;
  font-family: Dancing, 'Comic Sans MS', cursive;;
}

header nav a:link {
  color: #FFFAFA;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 2%;
  font-family: 'Trebuchet MS', 'Georgia';

}
header nav a:hover {
  background: #363636;
  color: #ffe;
}
header nav a:visited{
  color: #FFFAFA;
}

.search{
  width: 18%;
  position: relative;
  margin-left: 2%;
}
.search .input{
  padding: 8px 5px 9px 30px;
  width: 100%;
  border-radius: 15px;
  background: #363636;
  color: white;
  outline: none;
  border: none;
}
.search .submit{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
  background: url(img/go.png) 50% no-repeat;
  opacity: 0.7;
  border: none;
  outline: none;
}
.search .submit:hover{
  opacity: 1;
}

hr{
  border: 0;
  border-bottom: 3px dashed #ccc;
  background: #999;
  margin-bottom: 3%;
}
.centerLayer{
margin: 2% 10%;
}
.centerLayer p{
  font-size: 120%;
  font-family: 'Trebuchet MS';
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
}
.centerLayer nav a:link{
  text-decoration: none;
  color: #1C1C1C;
  font-family: 'Helvetica', 'Trebuchet MS';
  font-weight: 600;
  margin: 0 1.2em;
}
.centerLayer nav a:link:first-child{
  margin-left: 0;
}
.centerLayer nav a:visited{
  color: #1C1C1C;
}
.centerLayer nav a:active{
  color: #9C9C9C;
}
.centerLayer nav a:hover{
  color: #9C9C9C;
}
.images{
  margin-top: 3%;
  margin-bottom: 3%;
}
#showPic{
  opacity: 0.4;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  top: 30px;
  left: 50px;
}
#showPic:hover{
  opacity: 0.65;
}
.pic1{
  height: 200px;
  width: 200px;
  background: url(img/pic1.jpg);
}
.mask1{
  display: none;
}
.pic1Links{
  height: 95px;
  width: 200px;
}
.pic1:hover .mask1{
  display: block;
  box-shadow:0 0 0 100px rgba(0, 0, 0, 0.33) inset;
}

.pic1:hover .pic1Links a:link{
  margin-left: 7px;
  margin-right: 5px;
  position: relative;
  top: 50px;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 80%;
}
.pic1Links a:visited{
  color: white;
}
.pic1Links a:active{
  color: gray;
}
.pic1Links a:hover{
  color: #CFCFCF;
}
